<%= form_with(model: show_detail, local: true) do |form| %>
  <% if show_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show_detail.errors.count, "error") %> prohibited this show_detail from being saved:</h2>

      <ul>
      <% show_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :theatre_id %>
    <%= form.text_field :theatre_id %>
  </div>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.text_field :movie_id %>
  </div>

  <div class="field">
    <%= form.label :timing %>
    <%= form.datetime_select :timing %>
  </div>

  <div class="field">
    <%= form.label :ticket_fee %>
    <%= form.number_field :ticket_fee %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
